*{
    box-sizing: border-box

}
img{
    width: 100;
}

body{
    margin: 0;
    color: rgb(131, 0, 0);
    font-family:'Montserrat', sans-serif;
    height: 100vh;
}

.start-btn{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size:18px;
    background: rgb(59, 89, 0) ;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
    text-transform: uppercase;
    box-shadow: 0 0 10px 0px rgb(255, 255, 255);
    display: block;
    margin: auto;
    margin-top: 250px;
    transition: 1s;
}

.information{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background: rgb(138, 2, 2);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    z-index: 10;
}

.start-btn:hover{
    box-shadow: 0 0 15px 0px rgb(97, 219, 131);
    transform: scale(1.2);
    
}
